* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: rgb(40, 43, 43);
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.vidstream {
    font-size: 30px;
    color: red;
    font-weight: bolder;
}

.nav-link {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 18px;
}

.nav-link a {
    text-decoration: none; /* Alt xətt olmasın */
    color: white; /* Linklərin rəngi */
    font-weight: bold;
    transition: all 0.6s ease; /* Rəng keçidi */
}

.nav-link a:hover {
    color: red;
}

/* Aktiv link üçün stil */
.active-link {
    color: red !important; /* Aktiv linkin rəngi */
}

.login {
    color: white;
    font-weight: bolder;
}
